@{
    ViewBag.Title = "Home";
}


<div class="body-content" id="body-content" style="text-align:left !important; width:100% !important;">
    <div class="row">
        <div class="col-lg-6">
            <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/baby-with-dog.jpg")" alt=""></a>
            <h2><a href="@Url.Action("Index","Home")">Movie Title</a></h2>
            <p>
                MartinLayooInc Entertainment Master formerly known as Abalo Entertainment Master, was developed by Martin Alex Okello under &copy; MartinLayooInc Copyright. It is where tickets of all events around the UK are sold by many independent event handlers and dealers. You get the statistics, ticket user journeys to their destinations and most of all the ease of ordering and arranging orders of event tickets in once place. Reporting and Statistics of sales can be obtained too from this online vending machine so to say.
                Lets you rest in peace knowing yuour tickets will be sold altogether.
            </p>
            <a href="@Url.Action("Index","Home")">Read More</a>
        </div>
        <div class="col-lg-2">
            <h3>Movie Title</h3>
            <span>Cinema 2</span> <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/surfer.jpg")" alt=""></a>
        </div>
        <div class="col-lg-2">
            <h3>Movie Title</h3>
            <span>Cinema 3</span> <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/soldiers.jpg")" alt=""></a>
        </div>
        <div class="col-lg-2">
            <h3>Movie Title</h3>
            <span>Cinema 4</span> <a href="@Url.Action("Index","Home")"><img src="@Url.Content("~/images/ballet-dancer.jpg")" alt=""></a>
        </div>

    </div>
</div>
<style type="text/css">
    #body.home div div:first-child {
        border-bottom: medium none;
        border-right: 1px solid #4f4f4f;
        float: none;
    }

    div:first-child ul#ulfirst li {
        border-top: 1px solid #4f4f4f;
        float: left;
        width: auto;
    }
</style>
